<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'testapp/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'testapp/style.css' %}">
</head>
<body>
<form method="post" class="form-row">
    {% csrf_token %}
    {% for fm in form %}
        <p>{{ fm.label_tag }}{{ fm }}{{ fm.errors|striptags }}</p>
    {% endfor %}
<input type="submit" value="Update">
</form>
<br>
{% if messages %}
    {% for msg in messages %}
        <small { % if msg.tags %} class="{{ msg.tags }}"{ % endif  %}>{{ msg }}</small>
    {% endfor %}
{% endif %}
</body>
</html>