<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User_profile</title>
    <link rel="stylesheet" href="{% static 'testapp/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'testapp/style.css' %}">
</head>
<body>
<h2>WelCome</h2>
<form method="post" class="form-group">
    {% csrf_token %}
    {{ form.as_p }}
</form>
<a href="{% url 'profile' %}"><button class="btn btn-warning">BACK_page</button></a><br><br>
<a href="{% url 'log_out' %}"><button class="btn btn-warning">LOGOUT</button></a>
</body>
</html>